@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* MOBILE */
*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "hero"
    "hero-grid"
    "delivering"
    "footer";
    overflow-x: hidden;
}
  
section, footer{
    margin: 100px 0px;
}

/* header-nav */
header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 72px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.logo{
    display: none;
}

.logo-title h1{
    font-size: 24px;
}

header .navbar{
    display: none;
}

.btn{
    background-color: #6C5CE7;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
.signin{
    width: 128px;
    height: 40px;
    font-size: 18px;
}

/* hero */

.hero{
    grid-area: hero;
    margin-top: 50px;
}
.hero-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.hero-title h1{
    font-size: 60px;
    margin-bottom: 15px;
    text-shadow: 0px 4px 0px #ffffff ;
}


/* hero grid */

.hero-grid{

    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0; 
    margin: 0 -50vw; 
    width: 200vw; 
    grid-area: hero-grid;
}

.container{
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 2.5fr 2.5fr 1fr;
    grid-template-columns: 0.8fr 0.8fr 0.5fr 0.5fr 0.5fr;

    margin: 40px 200px;
    gap: 10px;
}

.item{
    border-radius: 20px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.item-1{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 102px;
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
}

.item-2{
    grid-row: 2/5;
    grid-column: 1/2;
    background-image: url('../imgs/img-2.png');
    color: white;
    text-align: center;
}

.item-2-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
}

.item-2-text {
    margin-top: 45px;
    margin-left: 25px;
    margin-right: 25px;
}

.item-3{
    grid-row: 5/6;
    grid-column: 1/2;
    align-content: center;
}

.grid-btn {
    padding: 15px 40px;
    background-color: #6C5CE7;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    font-size: 24px;
    height: 80%;
    width: 100%;
}

.item-4{
    grid-row: 1/4;
    grid-column: 2/4;
    background-image: url('../imgs/img-4.png');
    font-size: 48px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    text-shadow: 0px 4px 0px #000;
    padding-bottom: 30px;
}

.item-5{
    grid-row: 4/5;
    grid-column: 2/3;
    background-image: url('../imgs/img-5.png');
}
.item-6{
    grid-row: 4/7;
    grid-column: 3/5;
    background-image: url('../imgs/img-6.png');
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 48px;
    font-weight: 700;
    color: white;
    padding-top: 20px;
    text-shadow: 0px 4px 0px #000000;
}
.item-7{
    grid-row: 1/3;
    grid-column: 4/6;
    display: flex;
    justify-content: center;
    align-items: end;
    line-height: 30px;
    font-size: 18px;
}
.item-8{
    grid-row: 3/4;
    grid-column: 4/5;
    background-image: url('../imgs/img-8.png');
}
.item-9{
    grid-row: 3/4;
    grid-column: 5/6;
    background-image: url('../imgs/img-9.png');
}

.item-10{
    grid-row: 4/5;
    grid-column: 5/6;
    background-image: url('../imgs/img-10.png');
}  





/* deliverying */
.delivering{
    /* grid-area: delivering;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr; */
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delivery-title {
    margin-bottom: 35px;
}

.delivery-title h3{
    /* grid-column: 1/3; */
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.delivery-title p{
    font-size: 18px;
    line-height: 36px;
}

.cards{
    /* grid-column: 1/3; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards-left{
    margin-right: 20px;
}

.card{
    margin-bottom: 30px;
}


.icon{
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    margin-bottom: 30px;
    background-size: cover; /* or contain */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevents repeating the image */
}

.card p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 32px;
}

.icon-1{
    background-image: url('../imgs/icon-1.png');
}
.icon-2{
    background-image: url('../imgs/icon-2.png');
}
.icon-3{
    background-image: url('../imgs/icon-3.png');
}
.icon-4{
    background-image: url('../imgs/icon-4.png');
}

.learn-btn{
    border: 1px solid grey;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #6C5CE7;
    font-size: 18px;
    font-weight: 600;
    height:48px;
    width: 146px;
    margin-top: 25px;
} 


/* footer */

footer{
    grid-area: footer;

    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "email"
    "socials";
}


.container-3, .followus, .follow, .keepintouch, .information-title, form{
    display:none;
}

.socials{
    grid-area: socials;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.social-icon{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-top: 40px;
    margin-bottom: 40px;
    background-size: cover; /* or contain */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevents repeating the image */
    margin-right: 30px;
}



.icon{
    margin-top: 20px;
    margin-right: 30px;
}

.s-icon-1{
    background-image: url('../imgs/icon-facebook.png');
}

.s-icon-2{
    background-image: url('../imgs/icon-linkedin.png');
}
.s-icon-3{
    background-image: url('../imgs/icon-slack.png');
}
.s-icon-4{
    background-image: url('../imgs/icon-twitter.png');
}

.footer-right{
    grid-area: email;
}

.email h5{
    margin-top: 40px;
    font-size: 18px;
    color: #6C5CE7;
    text-align: center;
}

@media (min-width: 600px){
    
    header{
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 200px;
        height: 96px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        
    }

    .logo-title {
        display: flex;
        
    }
    
    .logo{
        display: flex;
    }
    
    .logo-title h1{
        font-size: 48px;
    }
    
    header .navbar{
        display: flex;
        flex-direction: row;
    }

    .menu li{
        display: inline-block;

        padding: 0px 75px;
        font-size: 18px;
        color: #6C5CE7;
        padding-left: 16px;
    }
    
    a{
        text-decoration: none;
    }

    a:hover{
        color: black;
        font-weight: 700;
    }

    .signin{
        padding: 15px 40px;
        background-color: #6C5CE7;
        border: none;
        border-radius: 30px;
        font-weight: 600;
        color: white;
        font-size: 24px;
        height: 64px;
        width: 170px;
    }

    /* hero */

    .hero{
        z-index: 1;

    }

    .hero-title {
        margin-top: 50px;
    }
    .hero-title h1{
        font-size: 96px;
        line-height: 104px;
        margin-top: 50px;
        text-shadow: 0px 4px 0px #ffffff ;
    }

    .hero-title h2{
        font-size: 64px; 
        margin: 20px 0px;
    }

    .hero-grid{
        grid-area: hero-grid;
        display: flex;
        justify-content: center;
        padding: 0; 
        margin: 0; 
        width: 100vw; 
    }

    .delivering{
        padding: 50px 200px 0px 200px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "delivery-title delivery-title delivery-title delivery-title"
        "cards cards cards cards";
    }
    .delivery-title {
        width: 80%;
        grid-area: delivery-title;
    }

    .cards{
        grid-area: cards;
    }
    .cards-left{
        display: flex;
    }
    .cards-right{
        display: flex;
    }

    /* footer */

    footer{

        grid-area: footer;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "footer-left footer-right";
    }
    
    .container-3, .followus, .follow, .keepintouch, .information-title, form{
        display:flex;
    }
    
    
    .footer-left{
        grid-area: footer-left;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 0.1fr 0.4fr 0.1fr 1fr;
        grid-template-areas:
        "followus followus followus"
        "socials socials socials"
        "information-title information-title information-title"
        "container-3 container-3 container-3"
        ;
     
        margin-left: 200px;
    }
    
    .followus{
        grid-area: followus;
    }
    
    .socials{
        grid-area: socials;
       
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }
    
    .social-icon{
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
        margin-top: 10px;
        background-size: cover; /* or contain */
        background-position: center; /* Adjust as needed */
        background-repeat: no-repeat; /* Prevents repeating the image */
        margin-right: 30px;
    }
    
    .container-3{
        grid-area: container-3;
    }
    

    .information-title{
        grid-area: information-title;
    }
    
    .information{

        grid-area: information;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    
    .information ul li{
        font-size: 14px;
        list-style: none;
    }
    
    .info{
        margin-right: 80px;
    }
    
    .footer-links{
        line-height: 30px;
    } 
    
    .footer-right{
        grid-area: footer-right;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 0.1fr 0.4fr 0.1fr 1fr;
        grid-template-areas: 
        "follow follow follow"
        "email email email"
        "keepintouch keepintouch keepintouch"
        "form form form"
        ;
        margin-right: 200px;
    }
    
    .footer-right .follow{
        grid-area:follow;
    }
    
    .email{
        grid-area: email;
        margin-bottom: 30px;
    }
    
    .keepintouch{
        grid-area: keepintouch;
        margin-top: 20px;
    }
    
    .footer-right h5{
        margin-top: 15px;
        font-size: 40px;
        color: #6C5CE7;
        margin-left: -250px;
    }
    
    .form{
        grid-area: form;
        margin-top: 20px;
        background-color: #ffffff;
    }
    
    input[type="text"], textarea{
        border-style: none;
        border-radius: 10px;
        background-color: #f6f6f6;
    }

    input[type="text"] {
        margin-right: 50px;
        height:48px;
     
    }
    
    textarea {
        position: relative;
        left: -400px;
        top: 50px;
        width: 370px;
        height: 80px;
    }
    
    .textareabtn{
        margin-top: 10px;
    }
    
    input[type="submit"]{
        padding: 15px 40px;
        background-color: #6C5CE7;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        color: white;
        font-size: 24px;
        height: 80px;
        width: 160px;
        align-self: start;
        position: relative;
        top: -30px;
        margin-left: 0px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
    }


}



